<div class="container-fluid py-5">

  <!-- タイトル -->
  <h3 class="col-lg-2 offset-lg-2 mb-4">
    <span class="bg-light d-inline-block px-2">会員情報編集</span>
  </h3>

  <%= form_with model: @customer, url: customer_path(@customer), method: :patch, local: true do |f| %>

    <!-- 氏名 -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">氏名</label>
      <div class="col-lg-1">
        <%= f.text_field :last_name, class: "form-control", placeholder: "山田" %>
      </div>
      <div class="col-lg-1">
        <%= f.text_field :first_name, class: "form-control", placeholder: "花子" %>
      </div>
    </div>

    <!-- フリガナ -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">フリガナ</label>
      <div class="col-lg-1">
        <%= f.text_field :last_name_kana, class: "form-control" %>
      </div>
      <div class="col-lg-1">
        <%= f.text_field :first_name_kana, class: "form-control" %>
      </div>
    </div>

    <!-- 郵便番号 -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">郵便番号</label>
      <div class="col-lg-1">
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>
    </div>

    <!-- 住所 -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">住所</label>
      <div class="col-lg-3">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <!-- 電話番号 -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">電話番号</label>
      <div class="col-lg-1">
        <%= f.text_field :telephone_number, class: "form-control" %>
      </div>
    </div>

    <!-- メールアドレス -->
    <div class="mb-4 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">メールアドレス</label>
      <div class="col-lg-2">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <!-- ボタン -->
    <div class="row">
      <div class="col-lg-2 offset-lg-2">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      </div>
      <div class="col-lg-1">
        <%= link_to "退会する", unsubscribe_customer_path, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
