<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h4 class="mb-4">商品新規登録</h4>

      <%= form_with model: [:admin, @item], local: true do |f| %>

        <div class="form-group row">
          <%= f.label :item_image, "商品画像", class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <%= f.file_field :item_image, class: "form-control-file" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :name, "商品名", class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <%= f.text_field :name, class: "form-control", placeholder: "商品名" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :introduction, "商品説明", class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <%= f.text_area :introduction, class: "form-control", rows: 5, placeholder: "ここに説明文を記述します" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :genre_id, "ジャンル", class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :price, "税抜価格", class: "col-md-3 col-form-label" %>
          <div class="col-md-9">
            <div class="input-group">
              <%= f.number_field :price, class: "form-control", placeholder: "1000" %>
              <div class="input-group-append">
                <span class="input-group-text">円</span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :is_active, "販売ステータス", class: "col-md-3 col-form-label" %>
          <div class="col-md-9 d-flex align-items-center">
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, true, class: "form-check-input", id: "item_is_active_true", checked: true %>
              <%= f.label :is_active_true, "販売中", class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, false, class: "form-check-input", id: "item_is_active_false" %>
              <%= f.label :is_active_false, "販売停止中", class: "form-check-label" %>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-9 offset-md-6">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>