<div class="container-fluid py-5">

  <h3 class="col-lg-3 offset-lg-2 mb-4">
    <span class="bg-light d-inline-block px-2">
      <%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細
    </span>
  </h3>

  <!-- 会員ID -->
    <div class="mb-3 row">
      <label class="col-lg-1 offset-lg-1 col-form-label">会員ID</label>
      <div class="col-lg-1 col-form-label">
        <%= @customer.id %>
      </div>
    </div>

  <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>

    <!-- 氏名 -->
    <div class="mb-3 row">
      <%= f.label :last_name, "氏名", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-1">
        <%= f.text_field :last_name, class: "form-control", placeholder: "令和" %>
      </div>
      <div class="col-lg-1">
        <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
      </div>
    </div>

    <!-- フリガナ -->
    <div class="mb-3 row">
      <%= f.label :last_name_kana, "フリガナ", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-1">
        <%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %>
      </div>
      <div class="col-lg-1">
        <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
      </div>
    </div>

    <!-- 郵便番号 -->
    <div class="mb-3 row">
      <%= f.label :postal_code, "郵便番号", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-1">
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>
    </div>

    <!-- 住所 -->
    <div class="mb-3 row">
      <%= f.label :address, "住所", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-3">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <!-- 電話番号 -->
    <div class="mb-3 row">
      <%= f.label :telephone_number, "電話番号", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-1">
        <%= f.text_field :telephone_number, class: "form-control" %>
      </div>
    </div>

    <!-- メールアドレス -->
    <div class="mb-4 row">
      <%= f.label :email, "メールアドレス", class: "col-lg-1 offset-lg-1 col-form-label"%>
      <div class="col-lg-2">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <!-- 会員ステータス -->
    <div class="mb-4 row">
      <%= f.label :is_active, "会員ステータス", class: "col-lg-1 offset-lg-1"%>
      <div class="col-lg-2">
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, true, id: 'is_active_true', class: 'form-check-input' %>
          <%= f.label :is_active_true, '有効', class: 'form-check-label fw-bold' %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, false, id: 'is_active_false', class: 'form-check-input' %>
          <%= f.label :is_active_false, '退会', class: 'form-check-label fw-bold' %>
        </div>
      </div>
    </div>

    <!-- ボタン -->
    <div class="row">
      <div class="col-lg-2 offset-lg-2">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
