<div class="container-fluid py-5">

  <h3 class="col-lg-3 offset-lg-2 mb-4">
    <span class="bg-light d-inline-block px-2">
      <%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細
    </span>
  </h3>

  <!-- 会員情報テーブル -->
  <table class="table mb-4 w-auto">
    <tbody>
      <tr>
        <th class="bg-light">氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="bg-light">カナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th class="bg-light">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th class="bg-light">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="bg-light">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <!-- ボタン -->
  <div class="row mb-2 align-items-center">
    <h4 class="col-lg-1">配送先</h4>
    <%= link_to '一覧を見る', addresses_path, method: :get, class: 'btn btn-primary mb-2' %>
  </div>
  <div class="row align-items-center">
    <h4 class="col-lg-1">注文履歴</h4>
    <%= link_to '一覧を見る', orders_path, method: :get, class: 'btn btn-primary mb-2' %>
  </div>
</div>
