<div class="container-fluid py-5">

  <h3 class="col-lg-2 offset-lg-2 mb-4">
    <span class="bg-light d-inline-block px-2">配送先登録/一覧</span>
  </h3>

  <!-- 配送先登録フォーム -->
  <%= render 'form', address: @address %>

  <!-- 登録済み住所一覧テーブル -->
  <table class="table table-bordered mb-4 w-auto">
    <thead>
      <tr class="">
        <th class="bg-light">郵便番号</th>
        <th class="bg-light">住所</th>
        <th class="bg-light">宛名</th>
        <th class="bg-light"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.recipient_name %></td>
          <td class="">
            <%= link_to '編集する', edit_address_path(address), class: 'btn btn-success btn-sm' %>
            <%= link_to '削除する', address_path(address), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm ml-2' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
